<app-header></app-header>

<div class="container-fluid">

    <div class="headings">
        <h1>A New Way to Remember</h1>
        <p>Connect families and celebrate lives through beautiful QR powered memorials that preserve stories for years
            to come.</p>
        <button>Create Memorial</button>
    </div>

    <div class="quote">
        <div class="quote-left">
            <p class="quote-text">“A legacy doesn’t end with goodbye.
                It lives in every memory, every story,
                and every heart it touched.”</p>
            <p class="quote-author">—Anonymous</p>
        </div>
        <div class="quote-right">
            <img src="/logobg.png" alt="">
        </div>
    </div>

</div>

<app-footer></app-footer>