<app-header></app-header>

<div class="container-fluid">

    <div class="headings">
        <h1>A New Way to Remember</h1>
        <p>Connect families and celebrate lives through beautiful QR powered memorials that preserve stories for years
            to come.</p>
        <div class="headings-buttons">
            <button class="primary-btn">Create Memorial</button>
            <button class="secondary-btn">Explore Services</button>
        </div>
    </div>

    <div class="quote">
        <div class="quote-left">
            <p class="quote-text">“A legacy doesn’t end with goodbye.
                It lives in every memory, every story,
                and every heart it touched.”</p>
            <p class="quote-author">—Anonymous</p>
        </div>
        <div class="quote-right">
            <img src="/logobg.png" alt="">
        </div>
    </div>

    <div class="your">
        <div class="your-heading">
            <h4>Your Journey to a Lasting Tribute</h4>
        </div>
        <div class="your-cards">
            <div class="your-card">
                <img src="/3.png" alt="">
                <h5>Register on our Website</h5>
                <p>Create your account in just a few
                    simple steps. Get access to tools
                    that help you build a lasting tribute
                    to your loved one.</p>
            </div>
            <div class="your-card">
                <img src="/2.png" alt="">
                <h5>Design the Memorial Page</h5>
                <p>Add photos, a biography, life milestones,
                    and more. Personalize their memorial
                    with heartfelt details that reflect who
                    they were.</p>
            </div>
            <div class="your-card">
                <img src="/1.png" alt="">
                <h5>Share with a QR Code</h5>
                <p>Place the QR sign at their resting place.
                    Friends and family can scan it anytime to
                    visit the digital memorial, share memories,
                    and keep their legacy alive.</p>
            </div>
        </div>
        <button>Create Memorial</button>
    </div>

    <div class="ready">
        <div class="ready-headings">
            <h2>Ready to Honor Your Loved Ones?</h2>
            <p>Let Magnolia Touch care for their resting place
                with dignity, beauty, and compassion.</p>
        </div>
        <div class="ready-buttons">
            <button>Create Memorial</button>
            <button>Book Cleaning</button>
        </div>
    </div>

</div>

<app-footer></app-footer>