<app-header></app-header>

<div class="container-fluid">

    <div class="headings">
        <img src="/services1.png" alt="">
        <div class="heading-content">
            <h4>Create a Memorial</h4>
            <h4>Generate a QR</h4>
            <h4>Share Their Legacy</h4>
            <p>Turn Memories into a Lasting Tribute</p>
            <button (click)="goTo('/memorial-create')">Register Now</button>
        </div>
    </div>

    <div class="begin">
        <h4>Begin the Journey of Rememberance</h4>
        <div class="notes">
            <div class="note-top">
                <div class="note">
                    <i class="bi bi-person-exclamation"></i>
                    <h5>Add Profile &
                        Cover Photo</h5>
                </div>
                <div class="note">
                    <i class="bi bi-file-earmark-plus"></i>
                    <h5>Share Profile &
                        Acheivments</h5>
                </div>
                <div class="note">
                    <i class="bi bi-house-heart"></i>
                    <h5>Add Family</h5>
                </div>
            </div>
            <div class="note-bottom">
                <div class="note">
                    <i class="bi bi-images"></i>
                    <h5>Add Photos</h5>
                </div>
                <div class="note">
                    <i class="bi bi-qr-code"></i>
                    <h5>Unlock QR code
                        after payment.</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="ready">
        <div class="ready-headings">
            <h2>Ready to Honor Your Loved Ones?</h2>
            <p>Let Magnolia Touch care for their resting place
                with dignity, beauty, and compassion.</p>
        </div>
        <div class="ready-buttons">
            <button (click)="goTo('/memorial-create')">Create Memorial</button>
            <button (click)="goTo('/cleaning')">Book Cleaning</button>
        </div>
    </div>

</div>

<app-footer></app-footer>