<div class="forgot-password-container">
    <h3>Forgot Password</h3>

    <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
        <input type="email" placeholder="Enter your email" formControlName="email">
        <div class="error" *ngIf="forgotForm.get('email')?.touched && forgotForm.get('email')?.hasError('required')">
            Email is required
        </div>
        <div class="error" *ngIf="forgotForm.get('email')?.touched && forgotForm.get('email')?.hasError('email')">
            Invalid email
        </div>

        <button type="submit" [disabled]="isLoading">
            <span *ngIf="!isLoading">Send OTP</span>
            <span *ngIf="isLoading" class="spinner-border spinner-border-sm"></span>
        </button>
    </form>
</div>