<app-header></app-header>

<div class="container-fluid">
    <div class="headings">
        <h1>Preserving Legacies with <br> Grace and Respect</h1>
        <p>Offering expert grave care, timeless floral tributes, and modern
            digital memorials to honor your loved ones with lasting dignity</p>
        <div class="headings-buttons">
            <button class="book-btn">Book Now</button>
            <button class="explore-btn">Explore Services</button>
        </div>
    </div>
</div>

<app-footer></app-footer>   