<app-header></app-header>

<div class="container-fluid">
    <div class="headings">
        <h1>Preserving Legacies with <br> Grace and Respect</h1>
        <p>Offering expert grave care, timeless floral tributes, and modern
            digital memorials to honor your loved ones with lasting dignity</p>
        <div class="headings-buttons">
            <button class="book-btn">Book Now</button>
            <button class="explore-btn">Explore Services</button>
        </div>
    </div>

    <div class="services">
        <div class="service-headings">
            <h4>OUR SERVICES</h4>
            <P>Memorial care made meaningful by blending tradition
                and technology to honor your loved ones</P>
        </div>
        <div class="service-cards">
            <div class="service-card">
                <div class="service-card-left">
                    <img src="/services2.png" alt="">
                </div>
                <div class="service-card-right">
                    <div class="card-headings">
                        <h4>Cemetery Cleaning</h4>
                        <h6>Professional Care for Resting Places</h6>
                    </div>
                    <div class="card-list">
                        <ul>
                            <li><i class="bi bi-check-lg"></i> Deep Cleaning</li>
                            <li><i class="bi bi-check-lg"></i> Anniversary Flowers</li>
                            <li><i class="bi bi-check-lg"></i> Floral Placement Service</li>
                            <li><i class="bi bi-check-lg"></i> Headstone Restoration</li>
                        </ul>
                    </div>
                    <button routerLink="/cleaning">Get a Quote</button>
                </div>
            </div>
            <div class="service-card">
                <div class="service-card-left">
                    <img src="/services1.png" alt="">
                </div>
                <div class="service-card-right">
                    <div class="card-headings">
                        <h4>Digital Memories</h4>
                        <h6>Digital Tributes for Lasting Rememberance</h6>
                    </div>
                    <div class="card-list">
                        <ul>
                            <li><i class="bi bi-check-lg"></i> Personal Memorial Pages</li>
                            <li><i class="bi bi-check-lg"></i> QR Code Generation</li>
                            <li><i class="bi bi-check-lg"></i> Visitors Comment</li>
                            <li><i class="bi bi-check-lg"></i> Photo Gallery</li>
                        </ul>
                    </div>
                    <button routerLink="/memorial">Create Memorial</button>
                </div>
            </div>
        </div>
        <div class="service-para">
            <div class="service-para-left">
                <p>Close your eyes and they’re still with you.
                    Magnolia Touch helps you to honor that presencew
                    through lasting care and timeless remembrance.</p>
            </div>
            <div class="service-para-right">
                <img src="/services3.png" alt="">
            </div>
        </div>
    </div>

    <div class="why">
        <div class="why-headings">
            <h4>Why Magnolia Touch?</h4>
            <p>Respectful Service. Meaningful Impact.</p>
        </div>

        <div class="why-cards">
            <div class="why-cards-left">
                <div class="why-card">
                    <div class="why-card-heading">
                        <i class="bi bi-x-diamond"></i>
                        <h4>Trusted and Gentle Professionals</h4>
                    </div>
                    <p>Choose from half-yearly or annual grave care services that
                        tailored to your schedule and the needs of your loved one’s
                        resting place.</p>
                </div>
                <div class="why-card">
                    <div class="why-card-heading">
                        <i class="bi bi-x-diamond"></i>
                        <h4>Flexible Care Plans</h4>
                    </div>
                    <p>Our dedicated team treats every memorial withthe care it
                        deserves, using safe, respectfulmethods to preserve
                        beauty and dignity.</p>
                </div>
            </div>
            <div class="why-cards-right">
                <div class="why-card">
                    <div class="why-card-heading">
                        <i class="bi bi-x-diamond"></i>
                        <h4>Peace of mind,Wherever you are</h4>
                    </div>
                    <p>We don’t just clean. Every visit is carried out with compassion,
                        understanding the deep emotional value of every space we
                        maintain.</p>
                </div>
                <div class="why-card">
                    <div class="why-card-heading">
                        <i class="bi bi-x-diamond"></i>
                        <h4>Heartfelt Service</h4>
                    </div>
                    <p>Whether you're near or far, Magnolia Touch ensures your loved one's resting place is cared
                        beautifully, reliably and with love.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="ready">
        <div class="ready-headings">
            <h2>Ready to Honor Your Loved Ones?</h2>
            <p>Let Magnolia Touch care for their resting place
                with dignity, beauty, and compassion.</p>
        </div>
        <div class="ready-buttons">
            <button>Get Started</button>
            <button>Contact Us</button>
        </div>
    </div>

</div>

<app-footer></app-footer>