<app-header></app-header>

<div class="container-fluid">

    <div class="headings">
        <h1>Clean with Care. <br>
            Preserve with Purpose. <br>
            The Magnolia Touch.</h1>
        <p>Every visit, every details are handled with compassion, whether for ongoing care or special occasions</p>
        <button>Get Your Estimate</button>
    </div>

    <div class="three">
        <div class="three-cards">
            <div class="three-card">
                <h4>Respect for Legacy</h4>
                <p>We believe every life deserves to be honored with dignity. That’s why we handle memorial with utmost
                    care and reverence.</p>
            </div>
            <div class="three-card">
                <h4>Reliability</h4>
                <p>We show up on time, follow through
                    on every promise, and provide
                    consistent care you can trust.</p>
            </div>
            <div class="three-card">
                <h4>Dignity in Service</h4>
                <p>We handle every task with quiet respect,
                    honoring your loved ones with grace
                    and professionalism.</p>
            </div>
        </div>
    </div>

</div>

<app-footer></app-footer>