<app-header></app-header>

<div class="container-fluid">

    <div class="headings">
        <h1>Clean with Care. <br>
            Preserve with Purpose. <br>
            The Magnolia Touch.</h1>
        <p>Every visit, every details are handled with compassion, whether for ongoing care or special occasions</p>
        <button routerLink="/cleaningestimate">Get Your Estimate</button>
    </div>

    <div class="three">
        <div class="three-cards">
            <div class="three-card">
                <h4>Respect for Legacy</h4>
                <p>We believe every life deserves to be honored with dignity. That’s why we handle memorial with utmost
                    care and reverence.</p>
            </div>
            <div class="three-card">
                <h4>Reliability</h4>
                <p>We show up on time, follow through
                    on every promise, and provide
                    consistent care you can trust.</p>
            </div>
            <div class="three-card">
                <h4>Dignity in Service</h4>
                <p>We handle every task with quiet respect,
                    honoring your loved ones with grace
                    and professionalism.</p>
            </div>
        </div>
    </div>

    <div class="two">
        <h3>Affordable Cemetery Cleaning Plans</h3>
        <div class="two-cards">
            <div class="two-card-left">
                <div class="two-card-headings">
                    <h5>Half Yearly Plan</h5>
                    <p>Scheduled Bi-Annual Cleaning</p>
                </div>
                <div class="two-card-list">
                    <ul>
                        <li><i class="bi bi-check-lg"></i> Professional headstone cleaning</li>
                        <li><i class="bi bi-check-lg"></i> Debris and weed removal</li>
                        <li><i class="bi bi-check-lg"></i> Grave site maintenance</li>
                        <li><i class="bi bi-check-lg"></i> Email updates after each visit</li>
                    </ul>
                </div>
            </div>
            <div class="two-card-right">
                <div class="two-card-headings">
                    <h5>Yearly Plan</h5>
                    <p>Annual Memorial Refresh</p>
                </div>
                <div class="two-card-list">
                    <ul>
                        <li><i class="bi bi-check-lg"></i> Complete headstone restoration</li>
                        <li><i class="bi bi-check-lg"></i> Deep cleaning and polishing</li>
                        <li><i class="bi bi-check-lg"></i> Grave site maintenance</li>
                        <li><i class="bi bi-check-lg"></i> Detailed condition report</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="one">
        <div class="one-heading">
            <h4>Just need a one-time service?</h4>
            <p class="one-first">We’ve got you covered</p>
            <p class="one-second">no subscriptions, no hassle.</p>
        </div>
        <div class="one-card">
            <div class="one-card-headings">
                <h5>One Time Cleaning</h5>
                <p>No ongoing plan required.</p>
            </div>
            <div class="one-card-list">
                <ul>
                    <li><i class="bi bi-check-lg"></i> Grave site maintenance</li>
                    <li><i class="bi bi-check-lg"></i> Professional headstone cleaning</li>
                    <li><i class="bi bi-check-lg"></i> Debris and weed removal</li>
                    <li><i class="bi bi-check-lg"></i> Email updates after each visit</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="images">
        <div class="images-heading">
            <h5>We Take Pride in Every Service We Deliver</h5>
        </div>
        <div class="row-1">
            <img src="/imgl1.png" alt="">
            <img src="/imgl2.png" alt="">
        </div>
        <div class="row-2">
            <img src="/imgp1.png" alt="">
            <img src="/imgp2.png" alt="">
        </div>
    </div>

    <div class="ready">
        <div class="ready-headings">
            <h2>Ready to Honor Your Loved Ones?</h2>
            <p>Let Magnolia Touch care for their resting place
                with dignity, beauty, and compassion.</p>
        </div>
        <div class="ready-buttons">
            <!-- <button>View Pricing</button> -->
            <button routerLink="/contact">Contact Us</button>
        </div>
    </div>

</div>

<app-footer></app-footer>