<app-header></app-header>

<div class="container-fluid">
    <div class="details">
        <!-- Profile Section -->
        <div class="profile">
            <div class="left">
                <div class="first">
                    <i class="bi bi-person"></i>
                </div>
                <div class="second">
                    <h5>Amanda Zachrah</h5>
                    <p>alexarawles&#64;gmail.com</p>
                </div>
            </div>
            <div class="right">
                <button class="edit-btn">Edit</button>
            </div>
        </div>

        <!-- Card Section -->
        <div class="card">
            <div class="row">
                <p class="label">Full Name</p>
                <p class="value">: Amanya anda zera</p>
            </div>

            <div class="row">
                <p class="label">Email</p>
                <p class="value">: nandndjnerj&#64;gmail.com</p>
            </div>

            <div class="row">
                <p class="label">Phone number</p>
                <p class="value">: 56456456465</p>
            </div>

            <div class="row">
                <p class="label">Address</p>
                <p class="value">: 56456456465</p>
            </div>
        </div>
    </div>
</div>