<footer>

    <div class="top">
        <div class="top-left">
            <img src="/logo.png" alt="">
        </div>
        <div class="top-right">
            <div class="top-right-left">
                <h5>Quick Links</h5>
                <ul>
                    <li>Home</li>
                    <li>About</li>
                    <li>Services</li>
                    <li>Contact Us</li>
                </ul>
            </div>
            <div class="top-right-right">
                <h5>Company</h5>
                <ul>
                    <li>Privacy Policy</li>
                    <li>Terms and Conditions</li>
                    <li>Join as our partner</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="bottom">
        <div class="bottom-left">
            <p>Your Street Address, Street Cross Road, State, Country</p>
            <p> +XX 0000 000 000 | office&#64;mangnoliatouch.com</p>
        </div>
        <div class="bottom-right">
            <i class="bi bi-instagram"></i>
            <i class="bi bi-linkedin"></i>
            <i class="bi bi-twitter-x"></i>
        </div>
    </div>

</footer>